<html>
     <head>
	 <title>BRIDAL HERITAGE</title>
	 <link rel="stylesheet" href="/home/shanky/project/bridal/public/stylesheets/style.css" type="text/css"/>
	 <link rel="shortcut icon" type="image/png" href="/home/shanky/project/bridal/public/images/clothes.png"/>
	 </head>
	 <body>
    
	 <header>
	 <div class="row">
	 <div class="logo">
	 <img src="1.png">
	 </div> 	 
	 <ul class="main-nav">
	 <li class="active"><a href="">Home</a></li>
   	 <li><a href="">MENU</a></li>
	 <li><a href="">Contact</a></li>
	 <li><a href="">about</a></li>
	 </ul>
	 </div> 
	 </header>
	 
	 </body>
</html>
